body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  /* nav */
  }
  nav span{
    color: red;
    font-style: italic;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 10px;
    
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  .nav-links li a:hover{
    color: red;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
  }
  
  .koks {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  .pun1, .pun2, .pun3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
  }
  
  @media screen and (max-width: 770px) {
    .nav-links {
      display: none;
    }
    
    .koks {
      display: flex;
      background-color: black;
    }
  }

 /* section1 */
  header{
    background-image:linear-gradient(rgba(0,0,0,0.5) 0% 100%) , url(../images/the-punisher-2017-hd-logo-4b.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .koks1 h1 , p{
    color: white;
}
header .button{
    margin-top: 10px;
}
.btn-1 {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
.btn-2 {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-1:hover {
    background-color: darkred;
    color: black;
  }
  .btn-2:hover {
    background-color: darkred;
    color: white;
  }
  
  @media screen and (max-width: 770px) {
    .btn {
      padding: 8px 16px;
    }
  }

/* section2 */
.services{
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.services p::after{
    content: "";
    height: 6px;
    width: 4%;
    background-color:darkred ;
    position: absolute;
    top: 100%;
    left: 48%;
} 
.card{
    display: flex;
    justify-content: space-around;
}
.card-1{
    width: 30%;
    background-color: darkred;
    color: white;
}
.card-1 img{
    width: 100%;
}
@media screen and (max-width: 750px) {
    .card{
        display: block;
    }
    .card-1{
        width: 100%;
    }
    
  }

/* section3 */
  .icons{
    background-color: lightgray;
    margin-top: 20px;
  }
  .koks10{
    display: flex;
    justify-content: space-around;
    
  }
  .koks10 .icon-card{
    width: 18%;
    text-align: center;
    border: solid 3px darkred;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;

  }
  .koks10 .koks2 h1{
    color: black;
  }
  .koks10 .koks2 .icon i{
    font-size: 50px;
    padding: 30px;
  }
  @media screen and (max-width: 730px) {
    .koks10 .koks2 .text h1 {
      font-size: 15px;
    }
    .koks10 .koks2 .icon i {
      font-size: 30px;
    }
  }

 /* section4 */
  .section-4{
    background-color: black;
  }
  .container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 30px;
  }
  .container .title1 {
    width: 30%;
  }
  .container .title1 .koks3{
    color: white;
    position: relative;
    margin-top: 50px;
  }
  .container .title1 .koks3 p::after{
    content: "";
    height: 4px;
    width: 20%;
    background-color:darkred ;
    position: absolute;
    top: 120%;
    left: 0%;
} 
.container .title2{
    margin-top: 50px;
    width: 30%;
}
.input1 {
    width: 200px;
    height: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
  }
.input {
    width: 200px;
    height: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
  }
  .container .title3{
    margin-top: 50px;
    width: 30%;
  }
  
  @media screen and (max-width: 770px) {
    .input {
      width: 100%;
    }
    .title1 , .title2{
        width: 100%;
        display: block;
    }
  }
  @media screen and (max-width: 750px) {
    .title2 .input1{
        width: 150px;
    }
    .title2 .input{
        width: 150px;
    }
    .title3 .input1{
        width: 150px;
    }
  }
  @media screen and (max-width: 600px) {
    .title2 .input1{
        width: 100px;
    }
    .title2 .input{
        width: 100px;
    }
    .title3 .input1{
        width: 100px;
    }
  }